@model IEnumerable<BagProduct>;
@{
    ViewData["Title"] = "Basket";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <style>
        .product-image {
            max-width: 30%;
            height: auto;
            border-radius: 5px;
            float: left;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .product-details {
            display: flex;
            max-width: 60%;
        }

        .remove-button {
            font-size: 30px;
            border: none;
            background: none;
            float: right;
            cursor: pointer;
        }

        /* Styles for the scroll to top button */
        #scrollTopBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            padding: 15px;
            border-radius: 50%;
        }

    </style>

</head>
<body>

    <div class="container">

        <form id="CountValue" method="post" asp-action="Payment">
            <!-- Add a hidden input field for each product's count value -->
            @foreach (var bagProduct in Model)
            {
                <input type="hidden" name="Counts" class="count" data-product-id="@bagProduct.Product.ProductId" />
                <input type="hidden" name="ProductIds" value="@bagProduct.Product.ProductId" />
            }


            <input type="submit" class="btn btn-primary" style="font-size:22px;" value="Ready to pay ?" />
        </form>


        <h1 class="mt-5 mb-4">
            Product Details
        </h1>

        <a class="btn-link" asp-action="Index" asp-controller="Home"><h4>Return to home page</h4></a>

        @{
            if (Model.Count() > 0)
            {
                foreach (var bagProduct in Model)
                {

                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <form method="post" asp-action="RemoveFromBag">
                                            <input type="hidden" name="Bagid" value="@bagProduct.Bag.BagId" />
                                            <input type="submit" class="remove-button" value="&#10060;" />
                                        </form>
                                        <div class="form-group">
                                            <!-- Unique count button and count value -->
                                            <h3 class="countValue_@bagProduct.Product.ProductId" name="Count">Count: 1</h3>
                                            <button type="button" class="btn btn-success incrementCount" data-product-id="@bagProduct.Product.ProductId">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Product:</th>
                                    <td>@bagProduct.Product.ProductName</td>
                                </tr>
                                <tr>
                                    <th>Category:</th>
                                    <td>@bagProduct.Product.Category.CategoryName</td>
                                </tr>

                                <tr>
                                    <th>Image</th>
                                    <td>
                                        <form method="post" asp-action="ProductDetails" asp-controller="Home">
                                            <input type="hidden"
                                                   value="@bagProduct.Product.ProductId" name="Id" />
                                            <button type="submit" style="background: none; border: none; padding: 0; margin: 0; cursor: pointer;">
                                                <img class="product-image"
                                                     src="~/offers_images/@bagProduct.Product.Photo.FileName" alt="product image">
                                            </button>
                                        </form>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Description:</th>
                                    <td>@bagProduct.Product.ProductDescription</td>
                                </tr>
                                <tr>
                                <tr>
                                    <th>Price currency:</th>
                                    <td>@bagProduct.Product.Currency</td>
                                </tr>
                                <tr>
                                    <th>Price:</th>
                                    <td>@bagProduct.Product.Price</td>
                                </tr>

                                <tr>
                                    <th>Viewers:</th>
                                    <td>@bagProduct.Product.Viewers</td>
                                </tr>
                                <tr>
                                    <th>Is in promotion?</th>
                                    <td>@bagProduct.Product.IsPromo</td>
                                </tr>

                                <tr>
                                    <th>New price:</th>
                                    <td>@bagProduct.Product.NewPrice</td>
                                </tr>
                                <tr>
                                    <th>Updated at:</th>
                                    <td>@bagProduct.Product.UpdatedAt</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            }
            else
            {
                <h1 style="text-align:center;">The basket is empty!</h1>
            }
        }

    </div>
    <!-- Scroll to top button -->
    <button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top"><i class="fa fa-chevron-up"></i></button>
    <script>
        // Get the button
        var scrollToTopButton = document.getElementById("scrollTopBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                scrollToTopButton.style.display = "block";
            } else {
                scrollToTopButton.style.display = "none";
            }
        }

        $(document).ready(function () {
            $('.incrementCount').click(function () {
                var productId = $(this).data('product-id');
                var countValueElement = $('.countValue_' + productId);
                var currentCount = parseInt(countValueElement.text().replace('Count: ', '')) || 0;
                currentCount++;
                countValueElement.text('Count: ' + currentCount);
                // Update the hidden input field associated with the current product
                $('input[name="Counts"][data-product-id="' + productId + '"]').val(currentCount);
            });

            $('#CountValue').submit(function () {
                // Iterate over each product and update its corresponding hidden input field with the count value
                $('.incrementCount').each(function () {
                    var productId = $(this).data('product-id');
                    var countValueElement = $('.countValue_' + productId);
                    var currentCount = parseInt(countValueElement.text().replace('Count: ', '')) || 0;
                    // Update the hidden input field associated with the current product
                    $('input[name="Counts"][data-product-id="' + productId + '"]').val(currentCount);
                });
            });
        });

    </script>
</body>
</html>
