@using Microsoft.AspNetCore.Identity
@using Sport_Accessories.ViewModels;
@model AdminLoginViewModel;
@{
    ViewData["Title"] = "Super Administrator Login";
}

<h1>@ViewData["Title"] Panel</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post" asp-action="SuperAdminLogin">
                <h2>Use a Super Administrator account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="@Model.UserName" class="form-control" autocomplete="super admin username" aria-required="true" placeholder="Super Admin username" />
                    <label asp-for="@Model.UserName" class="form-label">Super Admin username</label>
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" asp-for="@Model.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Super Admin password" />
                    <label asp-for="@Model.Password" class="form-label">Super Admin password</label>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="confirm-password" aria-required="true" placeholder="confirm super admin password" />
                    <label asp-for="@Model.ConfirmPassword" class="form-label">Confirm super admin password</label>
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
            </form>
        </section>
    </div>

</div>

